
.bor {
 border-radius: 5px;
/*Exmple of css class*/
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color:rgb(229,43,80);
/*The closest color to red that I could find to my liking.(Amaranth)*/
}

