body {
  background-color: rgb(40, 40, 40);
}
#m1 {
  color: #ffffff;
}
#m2 {
  color: rgb(70, 255, 0);
}
#m3 {
  color: rgba(70, 255, 0, 0.5);
}
#m4 {
  color: hsl(190, 100%, 50%);
}
#m5 {
  color: hsla(190, 100%, 50%, 0.5);
}
