.row1 {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
}
.r1c1 {
  width: 150px;
  height: 150px;
  background-color: rgb(156, 119, 104);
  display: flex;
  flex-direction: column;
}
.r1c2 {
  width: 150px;
  height: 150px;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
}
.a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b {
  width: 50px;
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
.d {
  width: 150px;
  height: 75px;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  width: 150px;
  height: 75px;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row3 {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
}
.r2c1 {
  width: 300px;
  height: 50px;
  background-color: teal;
  border: 2px dashed black;
}
.r2c2 {
  width: 300px;
  height: 50px;
  background-color: darkslateblue;
  border: 2px dashed black;
}
.r3c1 {
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.r3c2 {
  width: 150px;
  height: 150px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
